# These environment variables are used to configure the docker container.
# The passwords (DB_CRM_PASS, DB_CRM_ROOT_PASSWORD, CRM_PASS)
# should be changed for any servers open to the world.

# CRM store database
DB_CRM_ROOT_PASSWORD = "rootpass"
DB_CRM_PASS = "pass"
DB_CRM_HEALTHCHECK_INTERVAL = "10s"
DB_CRM_HEALTHCHECK_TIMEOUT = "60s"
DB_CRM_HEALTHCKECK_RETRIES = "5"
DB_CRM_LOCAL_PATH = "./data/crm-store-mariadb"
DB_CRM_PORT = 3306
DB_CRM_NAME = "suitecrm"
DB_CRM_USER = "suitecrm"

# CRM
CRM_USER = "admin"
CRM_PASS = "password"
CRM_PUBLIC_SSL_PORT = 8443
CRM_PUBLIC_PORT = 8080
CRM_LOCAL_PATH = "./data/crm-local-data"
